#fejlec {
	height: 80px;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 10px;
    margin: 10px;
	
}

#logo {
	float: left;
	width: 260px;
	height: 80 px;
}

#kereso {
	float: right;
	width: 300px;
	height: 80px;	
}

body {
	margin: 10px;
	padding: 10px;
	background: #F1F1F1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #3F3D3E;
}

div#wrapper {
    margin: 10px;
}

aside {
    display: table-cell;
    vertical-align: top;
}

nav {
    margin: 0px 10px 0px 0px;
    top: 0px;
    border-radius: 10px;
    background-color: #FFFFFF;
	font-size: 20px;
	line-height: 2;

}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 15px 0px;
}

nav ul li {
    padding: 0px 15px;;
}

nav ul li.active {
    border-right: 5px solid blue;
}

nav ul a {
    text-decoration: none;
    color: blue;
}

div#content {
    display: table-cell;
    width: 100%;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 15px;
}

div#content img{
	
    padding: 3px;
}

footer {
    border-radius: 10px;
    margin: 10px;
    padding: 5px 20px;
    background-color: #FFFFFF;
}

a:visited {
  color: #00ACDC;
}

a:link {
  color: #00ACDC;
}

a:hover {
  color: blue;
}